@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #FFFFFF;
  --color-secondary: oklch(0.443 0.11 240.79);
  --text-size: "text-3xl";
  --radius-primary: "rounded-none";
  --spacing-primary: 8px;
}

*{
  font-family: "Manrope";
}